.banner{
    background-image: url('../img/banner.jpg');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 22%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.2;
    z-index: -1;
}

.menu{
    background-color: #8DAF01;
}